<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Bookke | Welcome</title>
</head>
<body class="bg-gray-200 h-screen p-20">


<div class="wrapper bg-white max-w-[960px] rounded-2xl mx-auto">
    <div class="container flex max-w-[960px] justify-between h-full">
        <div class="left-col p-4  w-1/2 rounded-2xl">
            <nav class="mb-10 flex justify-between">
                <a href="/" class="font-bold">B</a>
                <ul class="flex justify-end">
                    <li><a href="/" class="p-2 text-sm font-medium text-gray-600">Home</a></li>
                    <li><a href="/search" class="p-2 text-sm font-medium text-gray-400">Availability</a></li>
                    <li><a href="/about" class="p-2 text-sm font-medium text-gray-400">About</a></li>
                </ul>
            </nav>
            <div>
                <h1 class="text-5xl font-medium flex flex-col mb-4">
                    <span>Reserve your</span>
                    <span>ideal holiday</span>
                </h1>
                <p class="mb-10">
                    We specialize in A-frame Elitelife Bungalow, providing
                    an amazing comfort, privacy and convenience for your perfect vocation
                </p>
                <div class="flex justify-between mb-10">
                    <div class="flex flex-col justify-center items-center">
                        <span class="text-xl font-bold">115k</span>
                        <span class="text-sm">Capital Raised</span>
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <span class="text-xl font-bold">70+</span>
                        <span class="text-sm">Happy Customers</span>
                    </div>
                    <div class="flex flex-col justify-center items-center">
                        <span class="text-xl font-bold">20+</span>
                        <span class="text-sm">Property Options</span>
                    </div>
                </div>
                <div class="w-full h-[160px] bg-gray-300 rounded-2xl">
                    IMAGE
                    <img src="/assets/images/hero.webp" alt="" class="max-w-full">
                </div>
            </div>
        </div>
        <div class="right-col p-4 w-1/2 rounded-2xl">
            <div class="h-full bg-gray-300 rounded-2xl">
                IMAGE
                <img src="/assets/images/hero.webp" alt="" class="max-w-full">
            </div>
        </div>
    </div>
</div>
</body>
</html>
